<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Swift Property Master</title>

    <!-- Global stylesheets -->
    <link th:href="@{https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900}" rel="stylesheet" type="text/css"/>
    <link th:href="@{assets/css/icons/icomoon/styles.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{assets/css/minified/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{assets/css/minified/core.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{assets/css/minified/components.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{assets/css/minified/colors.min.css}" rel="stylesheet" type="text/css"/>
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" th:src="@{assets/js/plugins/loaders/pace.min.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/core/libraries/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/core/libraries/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/plugins/loaders/blockui.min.js}"></script>
    <!-- /core JS files -->


    <!-- Theme JS files -->
    <script type="text/javascript" th:src="@{assets/js/core/app.js}"></script>
    <!-- /theme JS files -->

</head>

<body>
<!-- Page container -->
<div class="page-container login-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Simple login form -->
            <form th:action="@{/login}" th:object="${login}" method="post">
                <div class="panel panel-body login-form">
                    <div class="text-center">
                        <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                        <h5 class="content-group">Property Master <small class="display-block">Login  below</small></h5>
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" class="form-control" placeholder="Username"/>
                        <div class="form-control-feedback">
                            <i class="icon-user text-muted"></i>
                        </div>
                    </div>

                    <div class="form-group has-feedback has-feedback-left">
                        <input type="text" class="form-control" placeholder="Password"/>
                        <div class="form-control-feedback">
                            <i class="icon-lock2 text-muted"></i>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-circle-right2 position-right"></i></button>
                    </div>

                    <div class="text-center">
                        <a href="login_password_recover.html">Forgot password?</a>
                    </div>
                </div>
            </form>
            <!-- /simple login form -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->


    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2017. <a href="#">Property Master</a> by <a href="#" target="_blank">Swifthub Limited</a>
    </div>
    <!-- /footer -->

</div>
<!-- /page container -->

</body>
</html>
