<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:spring="">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>I & M (GOT API's)</title>

    <!-- Global stylesheets -->
    <link th:href="@{/https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/icons/icomoon/styles.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/minified/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/minified/core.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/minified/components.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/css/minified/colors.min.css}" rel="stylesheet" type="text/css"/>
    <!-- /global stylesheets -->



</head>

<body>

<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""/></a>

        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>


        </ul>



        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown language-switch">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/flags/gb.png" class="position-left" alt=""/>
                    English
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">

                    <li><a class="english"><img src="assets/images/flags/gb.png" alt=""/> English</a></li>

                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-bubbles4"></i>
                    <span class="visible-xs-inline-block position-right">Messages</span>
                    <span class="badge bg-warning-400">2</span>
                </a>

                <div class="dropdown-menu dropdown-content width-350">
                    <div class="dropdown-content-heading">
                        Messages
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-compose"></i></a></li>
                        </ul>
                    </div>

                    <ul class="media-list dropdown-content-body">
                        <li class="media">
                            <div class="media-left">
                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""/>
                                <span class="badge bg-danger-400 media-badge">5</span>
                            </div>

                            <div class="media-body">
                                <a href="#" class="media-heading">
                                    <span class="text-semibold">James Alexander</span>
                                    <span class="media-annotation pull-right">04:58</span>
                                </a>

                                <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""/>
                                <span class="badge bg-danger-400 media-badge">4</span>
                            </div>

                            <div class="media-body">
                                <a href="#" class="media-heading">
                                    <span class="text-semibold">Margo Baker</span>
                                    <span class="media-annotation pull-right">12:16</span>
                                </a>

                                <span class="text-muted">That was something he was unable to do because...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""/></div>
                            <div class="media-body">
                                <a href="#" class="media-heading">
                                    <span class="text-semibold">Jeremy Victorino</span>
                                    <span class="media-annotation pull-right">22:48</span>
                                </a>

                                <span class="text-muted">But that would be extremely strained and suspicious...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""/></div>
                            <div class="media-body">
                                <a href="#" class="media-heading">
                                    <span class="text-semibold">Beatrix Diaz</span>
                                    <span class="media-annotation pull-right">Tue</span>
                                </a>

                                <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="assets/images/placeholder.jpg" class="img-circle img-sm" alt=""/></div>
                            <div class="media-body">
                                <a href="#" class="media-heading">
                                    <span class="text-semibold">Richard Vango</span>
                                    <span class="media-annotation pull-right">Mon</span>
                                </a>

                                <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                            </div>
                        </li>
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="All messages"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="assets/images/placeholder.jpg" alt=""/>
                    <span>I&M </span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
                    <li><a href="#"><i class="icon-coins"></i> My balance</a></li>
                    <li><a href="#"><span class="badge bg-teal-400 pull-right">58</span> <i class="icon-comment-discussion"></i> Messages</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
                    <li><a href="#"><i class="icon-switch2"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Page header -->
<div class="page-header">
    <div class="breadcrumb-line breadcrumb-line-wide">
        <ul class="breadcrumb">
            <li><a href="index.html"><i class="icon-home2 position-left"></i> I&M Bank Limited</a></li>
            <li class="active"> 1 Park Avenue, Dubai, United Arab Emirates, Nairobi, Kenya</li>
        </ul>

        <ul class="breadcrumb-elements">
            <li><a href="#"><i class="icon-comment-discussion position-left"></i> Support</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-gear position-left"></i>
                    Settings
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-lock"></i> Account security</a></li>
                    <li><a href="#"><i class="icon-statistics"></i> Analytics</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="page-header-content">
        <div class="page-title">
            <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> - Dashboard <small>Hello, I&M !</small></h4>
        </div>

        <div class="heading-elements">
            <div class="heading-btn-group">
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-bars-alt text-primary"></i><span>Branches</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calculator text-primary"></i> <span>Invoices</span></a>
                <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Payments</span></a>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main sidebar-default">
            <div class="sidebar-content">

                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <!--<div class="category-title h6">-->
                        <!--<span>Main navigation</span>-->
                        <!--<ul class="icons-list">-->
                            <!--<li><a href="#" data-action="collapse"></a></li>-->
                        <!--</ul>-->
                    <!--</div>-->



                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">
                            <!-- Main -->
                            <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>
                            <li class="active"><a  th:href="@{/sys/books}" ><i class="icon-home4"></i> <span>Books</span></a></li>
<!--                            <li>-->
<!--                                <a href="#"><i class="icon-stack2"></i> <span></span></a>-->
<!--                                <ul>-->
<!--                                    <li><a th:href="@{/propertymaster/property/list}">Characters</a></li>-->
<!--                                    <li><a href="layout_navbar_hideable.html">Houses</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
                            <li>
                                <a th:href="@{/sys/characters}" ><i class="icon-users4"></i> <span>Characters</span></a>
<!--                                <ul>-->
<!--                                    <li><a th:href="@{/user/url/to/water}" id="layout1">Houses</a></li>-->
<!--                                </ul>-->
                            </li>
                            <li>
                                <a th:href="@{/sys/houses}"><i class="icon-stack2"></i> <span>Houses</span></a>
<!--                                <ul>-->
<!--                                    <li><a th:href="@{/propertymaster/tenants/list}" id="layout2">Tenant List</a></li>-->
<!--                                </ul>-->
                            </li>
<!--                            <li>-->
<!--                                <a href="#"><i class="icon-coin-pound"></i> <span>Payments</span></a>-->
<!--                                <ul>-->
<!--                                    <li><a  th:href="@{/user/url/to/payments}">Incoming Payments</a></li>-->
<!--                                    <li><a  th:href="@{/propertymaster/payments/list/outgoing}">Outgoing Payments</a></li>-->
<!--                                    <li><a th:href="@{/propertymaster/payments/list/suspense}" >Suspense GL</a></li>-->
<!--                                    <li><a href="colors_slate.html">Payment Channels</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#"><i class="icon-calculator3"></i> <span>Accounting</span></a>-->
<!--                                <ul>-->
<!--                                    <li><a  th:href="@{/propertymaster/payments/list/incoming}" >Reports</a></li>-->
<!--                                    <li><a  th:href="@{/propertymaster/payments/list/outgoing}" >Commissions</a></li>-->
<!--                                    <li><a href="colors_slate.html">Payment Channels</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->

<!--                            <li>-->
<!--                                <a href="#"><i class="icon-users2"></i> <span>User Management</span></a>-->
<!--                                <ul>-->
<!--                                    <li><a href="starters/horizontal_nav.html">Users</a></li>-->

<!--                                    <li><a href="starters/layout_sidebar_sticky.html">Notifications</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><a href="changelog.html"><i class="icon-help"></i> <span>Help</span></a></li>-->
                            <!-- /main -->

                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">


            <div  layout:fragment="content"></div>




        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->


    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2021. <a href="#">I&M Master</a> by <a href="#" target="_blank">I&M </a>
    </div>
    <!-- /footer -->

</div>
<!-- /page container -->




<!-- Core JS files -->
<script type="text/javascript" th:src="@{/assets/js/plugins/loaders/pace.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/core/libraries/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/core/libraries/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/loaders/blockui.min.js}"></script>
<!-- /core JS files -->


<!-- Theme JS files -->
<script type="text/javascript" th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/forms/styling/uniform.min.js}"></script>


<!-- Theme JS files -->
<script type="text/javascript" th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/tables/datatables/extensions/responsive.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

<!-- Theme JS files -->
<script type="text/javascript" th:src="@{/assets/js/plugins/visualization/d3/d3.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/visualization/d3/d3_tooltip.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/forms/styling/switchery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/forms/styling/uniform.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/forms/selects/bootstrap_multiselect.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/ui/moment/moment.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/pickers/daterangepicker.js}"></script>


<!-- Theme JS files -->
<script type="text/javascript" th:src="@{/assets/js/plugins/forms/wizards/steps.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/forms/styling/uniform.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/core/libraries/jasny_bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/forms/validation/validate.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/plugins/extensions/cookie.js}"></script>

<!-- Theme JS files -->
<script type="text/javascript" th:src="@{/assets/js/plugins/notifications/pnotify.min.js}"></script>

<script type="text/javascript" th:src="@{/assets/js/custom/notifications.js}"></script>




<script type="text/javascript" th:src="@{/assets/js/pages/wizard_steps.js}"></script>

<script type="text/javascript" th:src="@{/assets/js/core/app.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/pages/dashboard.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/pages/datatables_responsive.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/pages/form_layouts.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/pages/components_notifications_pnotify.js}"></script>

<!-- /theme JS files -->


</body>
</html>
