<!DOCTYPE html>m
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<div layout:fragment="content">

    <!-- Dashboard content -->
    <div class="row">

        <!-- Basic responsive configuration -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">List Of Houses</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">

            </div>

            <table class="table datatable-responsive">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Region</th>
                    <th>Sworn Members</th>
                    <th>Titles</th>
                    <th>Seats</th>
                    <th>Cardet Branches</th>


                </tr>
                </thead>
                <tbody>
                <tr th:each="bk : ${hssArr} ?: 'Empty Resourse'">
                    <td>
                        <a  th:href="${bk.url}"  th:text="${bk.name}" th:target="_blank"></a>
                    </td>
                    <td th:text="${bk.region}"></td>

                    <td>
                        <div th:each="i : ${bk.swornMembers}">
<!--                        <div th:each="i : ${#strings.arraySplit(bk.swornMembers, ',')}">-->
                            <a  th:href="${i}"  th:text="${i}" th:target="_blank"></a>
<!--                            <a th:href="@{http://www.thymeleaf/documentation.html}">-->
                        </div>

                    </td>


<!--                    <td th:text ="${ !bk.swornMembers.isEmpty()} ? ${bk.swornMembers} : 'Resource Unavailable !'"></td>-->

<!--                    <div th:if="${tblUserList!=null and !tblUserList.isEmpty()}"></div>-->



                    <!--                    <div th:if="${myList.empty}">-->
<!--                    <span th:text="${someObject.someProperty != null} ? ${someObject.someProperty} : 'null value!'">someValue</span>-->
                    <td th:text ="${ bk.titles.isEmpty() } ? ${bk.titles } : 'Resource Unavailable!'"></td>

<!--                    <p><span th:text="${#arrays.isEmpty(continents)}"></span>.</p>-->


                    <td th:text ="${bk.seats } ? ${bk.seats } : 'Resource Unavailable!'"></td>

<!--                    <td th:text="${bk.ancestralWeapons}"></td>-->

                    <td th:text ="${ !bk.cadetBranches.isEmpty()} ? ${bk.cadetBranches } : 'Resource Unavailable!'"></td>

                </tr>

                </tbody>
            </table>
        </div>
        <!-- /basic responsive configuration -->

    </div>
</div>
</html>