<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<div layout:fragment="content">
    <!-- Dashboard content -->
    <div class="row">
        <!-- Basic responsive configuration -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">List Of Characters</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">

            </div>

            <table class="table datatable-responsive">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Allegiances</th>
                    <th>Tv Series</th>
                    <th>Played By</th>
                    <th>Books</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="bk : ${charArr}">
                    <td>
                    <a  th:href="${bk.url}"  th:text="${bk.name}" th:target="_blank"></a>
                    </td>
<!--                    <td th:text="${bk.name}"></td>-->
                    <td th:text="${bk.gender}"></td>
                    <td>
                        <div th:each="i : ${bk.allegiances}">
                            <!--                        <div th:each="i : ${#strings.arraySplit(bk.swornMembers, ',')}">-->

                            <a  th:href="${i}"  th:text="${i}" th:target="_blank"></a>
                            <!--                            <a th:href="@{http://www.thymeleaf/documentation.html}">-->

                        </div>

                    </td>
                    <td th:text="${bk.tvSeries}"></td>
                    <td th:text="${bk.playedBy}"></td>
<!--                    <td th:text="${bk.books}"></td>-->

                    <td>
                        <div th:each="i : ${bk.books}">
                            <!--                        <div th:each="i : ${#strings.arraySplit(bk.swornMembers, ',')}">-->
                            <a  th:href="${i}"  th:text="${i}" th:target="_blank"></a>
                            <!--                            <a th:href="@{http://www.thymeleaf/documentation.html}">-->
                        </div>

                    </td>
                </tr>

                </tbody>
            </table>
        </div>
        <!-- /basic responsive configuration -->

    </div>
</div>
</html>