<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<div layout:fragment="content">

    <!-- Dashboard content -->
    <div class="row">


        <!-- Basic responsive configuration -->
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title">List Of Books</h5>
                <div class="heading-elements">
                    <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">

            </div>

            <table class="table datatable-responsive">
                <thead>
                <tr>
                    <th>Book</th>
                    <th>Country</th>
                    <th>Pov Characters</th>
                    <th>Publisher</th>
                    <th>ISBN</th>
                    <th>Released</th>
<!--                    <th>Characters</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="bk : ${booksArr}">

                    <td>
                        <a  th:href="${bk.url}"  th:text="${bk.name}" th:target="_blank"></a>
                    </td>

                    <td th:text="${bk.country}"></td>

                    <td>
                        <div th:each="i : ${bk.povCharacters}">
                            <a  th:href="${i}"  th:text="${i}" th:target="_blank"></a>
                        </div>
                    </td>

                    <td th:text="${bk.publisher}"></td>

                    <td th:text="${bk.isbn}"></td>

                    <td th:text="${bk.released}"></td>

<!--                    <td>-->
<!--                        <div th:each="i : ${bk.characters}">-->
<!--                            <a  th:href="${i}"  th:text="${i}" th:target="_blank"></a>-->
<!--                        </div>-->
<!--                    </td>-->

                </tr>

                </tbody>
            </table>
        </div>
        <!-- /basic responsive configuration -->

    </div>
</div>
</html>